body{
margin:  0;
text-align: center;
font-family: 'Merriweather', serif;
color: #40514E;
}
h1{
  color: #66BFBF;

  font-size: 5.62rem;
margin: 60px auto 0 auto;
font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
      line-height: 2;
  }
hr{
  border: dotted #EAF9F5  6px ;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
a{
    color: #11999E;
      font-family: 'Montserrat', sans-serif;
      margin: 10px 20px;
      text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.upper{
    background-color: #E4F9F5;
      position: relative;
      padding: 50px;
      }

.middle-container{
                 margin: 100px 0px;
                }
.skills{
       padding-top: 10px;
       }
.mountain{
         position: relative;
        top: 50px;
         }

.intro{
       width: 30%;
       margin: auto;
     }
.skill-row{
           width: 50%;
           margin :100px auto 100px auto ;
           text-align: left;
           }
.bottom-cloud{
              position: absolute;
              left: 350px;
              }
.top-cloud{
          position: absolute;
          left: 1050px;
          top: 50px;
           }
.arduino{
      width: 25%;
      float: left;
      margin-right: 30px;
      }
.raspberry{
           width: 25%;
           float: left;
           margin-right: 30px;
          }
.ai-ml{
      width: 25%;
      float: left;
      margin-right: 30px;
      }
/*.clearproperty{
  clear: left;
}*/
.web-design{
            width: 25%;
            float: left;
            margin-right: 30px;
           }
.contact-me{
     width: 40%;
     margin: 40px auto 60px;
    }
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
     padding: 10px;
}
.Knowledge-solution{
      width: 25%;
      float: left;
      margin-right: 30px;
      }
.Edgate-Technologies{
      width: 25%;
      float: left;
      margin-right: 30px;
      }

 .btn {
             background: #11cdd4;
             background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
             background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
             background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
             background-image: -o-linear-gradient(top, #11cdd4, #11999e);
             background-image: linear-gradient(to bottom, #11cdd4, #11999e);
             -webkit-border-radius: 8;
             -moz-border-radius: 8;
             border-radius: 8px;
             font-family: 'Montserrat', sans-serif;
             color: #ffffff;
             font-size: 20px;
             padding: 10px 20px 10px 20px;
             text-decoration: none;
       }

 .btn:hover {
             background: #30e3cb;
             background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
             background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
             background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
             background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
             background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
             text-decoration: none;
           }
.bottom-container{
                   background-color:  #66BFBF;
                   padding:50px 0 20px;
                  }
/*.middle{

  border: solid 10px;

background-color: red;
width:  200px;
height: 200px;
position: relative;
left: 9px;
display: inline-block;
}
.bottom{

    border: solid 10px;
    background-color:yellow;

    width:  200px;
    height: 200px;
    right: 100px;
    position: relative;
    left: 6px;
    display: inline-block;
}
